snippet date
`!v strftime("%Y-%m-%d")`
endsnippet

snippet s@k
`!v printf("%s@%s.%s", "sebastian", "kusnier", "net")`
endsnippet

snippet sk
Sebastian Kusnier
endsnippet

snippet dod "Definition of Done (jira)"
(x) Code Review
(x) Deployed (@stage
(x) GUI Review (@stage)
(x) Unittest (non-legacy code)
(x) Daily wiki entry
endsnippet
