snippet vrcsection "" b
" ${1:name} ---------------------------------------------------------- {{{

${2:content}

" }}}
endsnippet

snippet vrcsub "" b
" ${1:name} {{{

${2:content}

" }}}
endsnippet
