snippet vrcsection "" b
" ${1:name} ---------------------------------------------------------- {{{

${2:content}

" }}}
endsnippet

snippet vrcsub "" b
" ${1:name} {{{

${2:content}

" }}}
endsnippet

snippet ftsec "" b
" ${1:filetype} {{{

augroup ft_$1
  au!
  ${2}
augroup END

" }}}
endsnippet
