[submodule "home/vim/bundle/ack.vim"]
	path = home/vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "home/vim/bundle/vim-repeat"]
	path = home/vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "home/vim/bundle/vim-surround"]
	path = home/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/vim/bundle/vim-jade"]
	path = home/vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "home/vim/bundle/vcscommand"]
	path = home/vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand
	ignore = dirty
[submodule "home/vim/bundle/nerdtree"]
	path = home/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "home/vim/bundle/nerdcommenter"]
	path = home/vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "home/vim/bundle/supertab"]
	path = home/vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "home/vim/bundle/vim-indent-guides"]
	path = home/vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "home/vim/bundle/quickfixsigns_vim"]
	path = home/vim/bundle/quickfixsigns_vim
	url = git://github.com/tomtom/quickfixsigns_vim.git
[submodule "home/vim/bundle/checksyntax_vim"]
	path = home/vim/bundle/checksyntax_vim
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule "home/vim/bundle/vim-session"]
	path = home/vim/bundle/vim-session
	url = git://github.com/xolox/vim-session
	ignore = dirty
[submodule "home/vim/bundle/zencoding-vim"]
	path = home/vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "home/vim/bundle/xmledit"]
	path = home/vim/bundle/xmledit
	url = git://github.com/sukima/xmledit.git
	ignore = dirty
[submodule "home/vim/bundle/vim-coffee-script"]
	path = home/vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "home/vim/bundle/vim-css-color"]
	path = home/vim/bundle/vim-css-color
	url = git://github.com/gf3/vim-css-color.git
[submodule "home/vim/bundle/vim-stylus"]
	path = home/vim/bundle/vim-stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "home/oh-my-zsh.custom/plugins/zsh-syntax-highlighting"]
	path = home/oh-my-zsh.custom/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/vim/bundle/hammer.vim"]
	path = home/vim/bundle/hammer.vim
	url = git://github.com/robgleeson/hammer.vim.git
[submodule "home/oh-my-zsh"]
	path = home/oh-my-zsh
	url = https://github.com/kusnier/oh-my-zsh
[submodule "home/vim/bundle/vim-git"]
	path = home/vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
	ignore = dirty
[submodule "home/vim/bundle/vim-easytags"]
	path = home/vim/bundle/vim-easytags
	url = git://github.com/xolox/vim-easytags.git
	ignore = dirty
[submodule "home/vim/bundle/vim-pathogen"]
	path = home/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "home/vim/bundle/vim-fugitive"]
	path = home/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/vim/bundle/delimitMate"]
	path = home/vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
