[submodule "home/vim/bundle/ack.vim"]
	path = home/vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "home/vim/bundle/vim-repeat"]
	path = home/vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
